
<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Registrese como usuario de QUAM.</h5>
					<form class="" method="post" action="<%= suite.url%>/auth/signup"><!--action="https://sgquam.herokuapp.com/"> -->
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombres:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="nombres" id="nombres"  placeholder="Nombres"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Apellidos:</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="apellidos" id="apellidos"  placeholder="Apellidos"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Identificaci칩n</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-credit-card fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="identificacion" id="identificacion"  placeholder="Identificaci칩n"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Contrase침a</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Contrase침a"/>
								</div>
							</div>
						</div>

		

						<div class="form-group ">
							<button type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Registrarme</button>
						</div>
						
					</form>
				</div>
			</div>
		</div>