<footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <p><span style="color: #127285"><b>QUAM</b></span> © 2018. Todos los derechos Reservados
                <br>
                <span>Diseñado por : <a href="http://quam.com.co/" target="blank" style="color: #127285">www.quam.com.co</a></span></p>
        </div>
</footer>